div#mws-error-container
{
    margin:auto;
    max-width:652px;
}

div#mws-error-code
{
    width:100%;
    margin:auto;
    padding:32px 0 63px 0;
    max-width:652px;
    background:url(../../images/core/mws-error-bg.png) no-repeat center top;
    background-size:auto 100%;
}

div#mws-error-code h1
{
    color:#000000;
    font-size:40px;
    text-align:center;
    margin:auto;
}

div#mws-error-code h1 span
{
    font-size:72px;
}

div#mws-error-container p
{
    text-align:center;
    font-size: 16px;
    font-weight: bold;
}

/* ==================================================
 * 16) Alert Boxes
 * ================================================== */

.alert {
    width: 95%;
    margin: 10px auto 9px;

    border: 1px solid;
    clear: both;

    padding: 10px 10px 10px 35px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}


.alert.no-margin {
    border-radius: 0 0 0 0;
    margin-left: -10px;
    margin-right: -10px;
    border-width: 1px 0;
}

.alert.no-margin.top {
    border-width: 0 0 1px 0;
    margin-top: 0;
}

.alert.no-margin.bottom {
    border-width: 1px 0 0px 0;
    margin-bottom: 0;
}

.alert span.hide {
    font-weight: bold;
    text-shadow: 1px 1px 0 #FFFFFF;
    float: right;
    cursor: pointer;
    margin: 0;
}

.alert.global {
    text-align: center;
    background-color: #fdefbd;
    border-color: #d4b64b;
    color: #675100;
    font-size: 125%;
}
.alert a:link { color: #0000EE; }
.alert a:visited { color: #551A8B; }

.alert.success { background-image: url("../../images/core/alerts/tick-circle.png"); background-color: #d1e8d2; border-color: #339933; color: #00632E; }
.alert.error { background-image: url("../../images/core/alerts/cross-circle.png"); background-color: #facfcf; border-color: #dc1c1c; color: #820101; }
.alert.warning { background-image: url("../../images/core/alerts/exclamation.png"); background-color: #fdefbd; border-color: #d4b64b; color: #675100; }
.alert.info { background-image: url("../../images/core/alerts/information.png"); background-color: #d8e7fa; border-color: #9DBFEA; color: #00357B; }
.alert.note { background-image: url("../../images/core/alerts/notebook.png"); background-color: #f4f4f4; border-color: #bdbdbd; color: #4d4d4d; }
.alert.loading { background-image: url("../../images/core/alerts/loading.gif"); background-color: #f4f4f4; border-color: #bdbdbd; color: #4d4d4d; }
