.table-container{
    display: flex;
    align-items: center;
}

.left{
    text-align: left;
    display:table-cell;
    width:33.33vw;
}

.center{
    text-align: center;
    display:table-cell;
    width:33.33vw;
}

.right{
    text-align: right;
    display:table-cell;
    width:33.33vw;
}

.flotTip {
    z-index: 9999;
}

.mws-table a {
    color: black;
}

.mws-table a:hover {
    color: black;
}