#mws-dashboard-chart2 div.xAxis div.tickLabel
{
    white-space: nowrap;
    transform: translate(-9px, 0) rotate(-45deg);
    -ms-transform:rotate(-45deg); /* IE 9 */
    -moz-transform:rotate(-45deg); /* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    -o-transform:rotate(-45deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
    text-indent: -100%;
    transform-origin: top right;
    text-align: right !important;
    height: 40px !important;
    margin-bottom: 60px;
}